body{
    margin: 2%;
    min-height: 100vh;
	font-family: 'Roboto', Arial;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    background-blend-mode: multiply,multiply;
    

}
.title{
    text-align: center;
    color: #BBD2E0
}

.boxtop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 90px);
    justify-items: center;
}

.citation {
    grid-column: 1;
    grid-row: 1;
    background-color:#BBD2E0;
    border-radius: 20px;   
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    height: 55px;
    width: 200px;
    padding: 10px;
    justify-self: start;
    text-align: center;
}

.photo {
    grid-column: 3;
    grid-row: 1/2;
}

.infos {
    grid-column: 3;
    grid-row: 3;
    margin-left: 110px;
}

.boxbot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 140px);
    justify-items: start;
    padding-top: 50px;
}

#insolite {
    height: 50px;
    left: 20px;
    right: 20px;
    top: 10px;
    background-color:#BBD2E0;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;   
    border: 5px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    text-align: center;
}